Source: nvme-stas
Section: net
Priority: optional
Maintainer: Martin Belanger <Martin.Belanger@dell.com>
Build-Depends:
 debhelper-compat (= 13),
 dh-python,
 docbook-xml,
 docbook-xsl,
 iproute2,
 libglib2.0-dev-bin,
 meson,
 python3-lxml,
 python3:any,
 xsltproc,
Rules-Requires-Root: no
Standards-Version: 4.6.2
Homepage: https://github.com/linux-nvme/nvme-stas
Vcs-Browser: https://github.com/linux-nvme/nvme-stas
Vcs-Git: https://github.com/linux-nvme/nvme-stas.git

Package: nvme-stas
Section: net
Architecture: all
Depends:
 python3-dasbus,
 python3-gi,
 python3-libnvme (>=3.0),
 python3-pyudev,
 python3-systemd,
 ${misc:Depends},
 ${python3:Depends},
Description: NVMe Storage Appliance Services (STAS)
 NVMe over Fabrics (NVMe-oF) is the concept of using a transport protocol over
 a network to connect remote NVMe devices. nvme-stas contains two services,
 stafd and stacd, to be used to access NVMe over TCP:
 .
   * Storage Appliance Finder (stafd):
     automatically locate Central or Direct Discovery Controllers (CDC, DDC)
     with zeroconf (mDNS).
 .
   * Storage Appliance Connector (stacd):
     setup the I/O controller connections to each storage subsystem.
