# Copyright (c) 2022, Dell Inc. or its subsidiaries.  All rights reserved.
# SPDX-License-Identifier: Apache-2.0
# See the LICENSE file for details.
#
# This file is part of NVMe STorage Appliance Services (nvme-stas).
#
[Unit]
Description=Configuration generator for @STACD_PROCNAME@.service and @STAFD_PROCNAME@.service
Documentation=man:stas-config.target(8)
Wants=stas-config@hostnqn.service
Wants=stas-config@hostid.service
PartOf=@STACD_PROCNAME@.service
PartOf=@STAFD_PROCNAME@.service
