# Copyright (c) 2022, Dell Inc. or its subsidiaries.  All rights reserved.
# SPDX-License-Identifier: Apache-2.0
# See the LICENSE file for details.
#
# This file is part of NVMe STorage Appliance Services (nvme-stas).
#
[Unit]
Description=nvme-stas @ETC@/nvme/%i auto-generation
Documentation=man:stas-config@.service(8)
ConditionFileNotEmpty=|!@ETC@/nvme/%i

[Service]
Type=oneshot
ExecStart=/usr/bin/stasadm %i -f @ETC@/nvme/%i

[Install]
WantedBy=stas-config.target
